@import '../../../sass/var';

.testimonial__footer {
    display: flex;
    font-size: $testimonial-footer-font-size;

    & > .person {
        flex: 1;
        display: flex;

        & > p {
            margin-right: 0.25rem;
        }

        & > p:first-child {
            font-weight: bold;
        }
    }

    & > .read {
        cursor: pointer;
        color: $read-full-story-color;
    }
}
