.testimonials {
    overflow: hidden;

    & > .testimonials__matched {
        display: grid;
        grid-template-columns: repeat(2, 100%);
        column-gap: 3%;

        & > .swipeleft {
            animation-name: swipeleft;
            animation-duration: 0.3s;
            animation-timing-function: ease-out;
            transform: translateX(-103%);
        }

        & > .swiperight {
            animation-name: swiperight;
            animation-duration: 0.3s;
            animation-timing-function: ease-out;
        }
    }

    @keyframes swipeleft {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-103%);
        }
    }

    @keyframes swiperight {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }
}
