@import './sass/var';

.app {
    background-color: $app-background-color;
    height: 100vh;
    margin: 2.5rem 0;
    padding: 4rem 0 4rem 9%;

    & > .app__body {
        padding: 7rem 5% 7rem 20%;
        background-color: #fff;
        border-top-left-radius: $app-body-border-radius;
        border-bottom-left-radius: $app-body-border-radius;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > .body__testimonials > h5 {
            font-size: $app-heading-font-size;
            margin-bottom: 1.5rem;
            letter-spacing: 0.15rem;
        }

        & > .body__buttons {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
