@import './sass/var';

.app {
    background-color: $app-background-color;
    height: 92vh;
    margin: 2.5rem 0;
    padding: 4.5rem 0 4.5rem 9.5%;

    & > .app__body {
        background-color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4rem 5% 4rem 10%;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;

        & > .body__testimonials > h5 {
            font-size: $app-heading-font-size;
            margin-bottom: 1.5rem;
        }

        & > .body__buttons {
            display: flex;
        }
    }
}
